<% provide(:title, "Edit Profile") %> 
<% provide(:subtitle, "Update Your Profile") %>

<div class="container jumbotron">
	<div class="row">
		<div class="span6">

		  <%= form_for(@business) do |f| %>
		    <%= render 'shared/business_error_messages' %>

		    <%= f.label :name %>
		    <%= f.text_field :name %>

		    <%= f.label :email %>
		    <%= f.text_field :email %>

		    <%= f.label :password %>
		    <%= f.password_field :password %>

		    <%= f.label :password_confirmation, "Confirm Password" %>
		    <%= f.password_field :password_confirmation %>

		    <br>
		    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		    <%= submit_tag 'Cancel', :name => 'cancel', class: "btn btn-large btn-primary", style: "margin-left: 20px;" %>
		  <% end %>

		</div>
		<div span6>
			<h3> Current profile </h3>
			<h1>
        <!-- <%= gravatar_for @business %> -->
        <%= @business.name %> <% if current_business.admin? %> (admin) <% end %>
      </h1>
      <p> <%= @business.email %> </p>
		</div>
	</div>
</div>
