<% provide(:title, "Edit Profile") %> 
<% provide(:subtitle, "Update Your Profile") %>

<div class="container jumbotron">
	<div class="row">
		<%= form_for @business, :html => { :multipart => true } do |f| %>
			<%= render 'shared/business_error_messages' %>
			<div class="span4">
		    <%= f.label :name %>
		    <%= f.text_field :name %>

		    <%= f.label :email %>
		    <%= f.text_field :email %>

		    <%= f.label :password %>
		    <%= f.password_field :password %>

		    <%= f.label :password_confirmation, "Confirm Password" %>
		    <%= f.password_field :password_confirmation %>
			</div>
			<div class="span4">
				<%= f.label :address %>
				<%= f.text_area :address, :rows => "3" %>
				
				<%= f.label :"Phone Number" %>
				<%= f.text_field :phoneNumber %>
			</div>
			<div class="span4">	
				<%= f.label :imageURL, "Image URL" %>
		    <%= f.text_field :imageURL %>

		    <%= f.label :image, "Or Upload Image" %>
		    <%= f.file_field :image %>
			<% unless @business.image_file_size.nil? %>
	          <p>
	          	(Current upload -- Check box to delete:<br />
	          	<%= f.check_box :image_delete %> <%= @business.image_file_name %>)
	          </p>
	        <% end %>
				
		    <br><br>
		    <%= f.submit "Save changes", class: "btn btn-primary" %>
		    <%= submit_tag 'Cancel', :name => 'cancel', class: "btn btn-primary", style: "margin-left: 20px;" %>
		  </div>
		<% end %>
	</div>
</div>
