<% provide(:title, 'Sign Up') %>
<% provide(:subtitle, 'Sign Up') %>

<div class="container jumbotron">
  <div class="row">
    <div class="span6">
			<%= form_for(@business) do |f| %>
				<%= render 'shared/business_error_messages' %>

				<%= f.label :name %>
				<%= f.text_field :name %>

				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password %>
				<%= f.password_field :password %>

				<%= f.label :password_confirmation, "Confirm Password" %>
				<%= f.password_field :password_confirmation %>

				<br>

				<%= f.submit "Create my account", class: "btn btn-primary" %>
			<% end %>
			<p>Already a user? <%= link_to "Sign in now!", signin_path %></p>
    </div>
  	<div class="span6">
  		<h1>Business</h1>
  		<ul>
  			<li>Unlimited deals listing</li>
  			<li>Unlimited catalogs listing</li>
  			<li>Smart dashboard analytics
  				<ul>
						<li>Number of clicks</li>
						<li>Number of views</li>
						<li>Customers feedback</li>
					</ul>
  			</li>
  		</ul>
		</div>
	</div>
</div>
