<% provide(:title, @business.name) %>
<div class="jumbotron row">
  <aside class="span4">
    <% if current_business.admin? && !current_business?(@business) then %>
      <%= link_to "<< View all businesses", businesses_path %>
    <% end %>
    <section>
      <h1>
        <!-- <%= gravatar_for @business %> -->
        <%= @business.name %>
      </h1>
	    <%= link_to "Edit profile", edit_business_path(@business) %>	
    </section>
  </aside>
	<div class="span8">
	  <% unless current_business.admin? then %>
      <a href="/newdeal" class="btn btn-primary">New deal!</a>
		  <h3> Your Deals: </h3>
		  <% unless @business.deals.any? %>
			  <ol>
				  <% @deals.each do |d| %>
					  <% if d.title %>
						  <li>
							  <%= link_to d.title, deal_path(d) %>
                <%= d.title %>. 
                <i>Posted <%= time_ago_in_words(d.created_at) %> ago.</i>
                <%= link_to "Edit", edit_deal_path(d) %>
              </li>
					  <% end %>
				  <% end %>
			  </ol>
		  <% end %>
		<% else %>  
		  <h3> Administrative Console </h3>
		   <h4><%= link_to "Manage businesses unique to site", businesses_path %></h4>
		   <h4><%= link_to "Manage businesses pulled from web APIs", web_businesses_path %></h4>
		   <h4><%= link_to "Site statistics", stats_path %></h4>
		<% end %>
	</div>
</div>
