<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Around the Corner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
		<%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--
		<link href="/assets/bootstrap.css" media: "all" rel="stylesheet">
    <link href="/assets/bootstrap-responsive.css" rel="stylesheet">
		-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
    
  </head>

  <body>

    <!-- Header -->
    <div id="header" class ="masthead">
    	<div class="container center">
				<div id="header-logo">
					<a href="/"><img src="/assets/logo_trans.png" alt="logo", width="200px" height="160px">	</a>		
				</div>
		    <div id="header-navbar" class="navbar">
		      <form class="navbar-form pull-right" method="post" action="/sessions">
		        <input type="text" name="session[email]" placeholder="Email">
		        <input type="password" name="session[password]" placeholder="Password">
		        <button type="submit" class="btn">Sign in</button>
		      </form>
					<!--        
					<h3><a href="/" style="color: #777777">Around the Corner</a></h3>
					-->
		    </div>
				<div class="new-account">
					<p> New to the corner? <%= link_to "CREATE AN ACCOUNT", signup_path %> </p>
				</div>
			</div>
    </div>
    <!-- hr -->

    <!-- Welcome -->
		<!--
    <div class="container center">
      <div class="jumbotron">
          <h1>Welcome to Around the Corner</h1>
          <img src="/assets/logo_iphone.png" alt="logo", width="250" height="250">
          <p class="lead">Connect with your customers and the
          world around you on Around the Corner.</p>
          <a href="/signup" class="btn btn-primary">Sign up now!</a>
      </div>
    </div>
		<hr>
		-->
		
		<!-- Dynamic panel -->
		<div id="dynamic-panel">
			<div class="container center">
				<div class="row">
					<div class="dynamic-panel-text span7">
						<h1>Make your business</h1>
						<h1>automatically dicovered</h1>
						<h1>by customer smartphone</h1>
				    <!--p><a class="btn" href="#">View details &raquo;</a></p-->
		      </div>
		      <div class="dynamic-panel-image span5">
		      	<img src="/assets/street_corner.png">
		      </div>
		    </div>
      </div>
		</div>
		
		<!-- Content panel -->
		<div id="content-panel">
			<div class="container center">
				<div class="row">
					<div class="content span4 pull-left">
						<div class="content-image">
							<img src="/assets/business.jpg">
						</div>
						<div class="content-text">
							<p>Create your business catalogs and deals, and let them be automatically pushed to and saved on customers smartphone whenever they are around your business location.</p>
						</div>
					</div>
					<div class="content span4" style="margin-left: 45px">
						<div class="content-image">
							<img src="/assets/mobile_user.jpg">
							<!-- http://www.istockphoto.com/stock-illustration-4236441-college-communication.php?st=65b9158 -->
						</div>
						<div class="content-text">
							<p><a href="#">Download</a> our Android app to discover goods and deals around you. The app automatically discovered personalized goods, deals, and business events around your vicinity.</p>
						</div>
					</div>
					<div class="content span4 pull-right">
						<div class="content-image">
							<img src="/assets/customer_feedback.jpg">
							<!-- http://baltimoresunmediagroup.com/wp-content/uploads/2012/08/iStock_000020052881Medium-300x212.jpg -->
						</div>
						<div class="content-text">
							<p><font size="4">What our customers are saying</font></p>
							<p>"... with Around The Corner, we never miss any potential customers."</p>
							<p>- Tony, VP Engineering @ SAP</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
    
    <!-- Messages -->
    <!--
    <div class="container center">
      <div class="row">
        <div class="span4">
        	<img src="/assets/deal_list.png" alt="Rails", width="350" height="350">
          <h3>Offers & Deals</h3>
          <p>Keep and attract new customers with personalized and targeted offers.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <img src="/assets/map.png" alt="Rails", width="350" height="350">
          <h3>Be Discovered</h3>
          <p>Users will be notified of your business when Around the Corner.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <img src="/assets/specific_deal.png" alt="Rails", width="350" height="350">
          <h3>Keep Them in the Loop</h3>
          <p>Easily send updates, event invitations, news and reviews to your customers.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
			<hr>
			-->
      
      <!-- Footer -->
      <div id="footer">
		    <div class="container center">
				  <footer>
				    <!-- p class="pull-right"><a href="#">Back to top</a></p -->
				    <p class="pull-left"> 
				    	<%= link_to "About Us", about_path %> 
				    	&middot; <%= link_to "Contact Us", contact_path %>
				    </p>
				    <p class="pull-right">&copy; 2013 Around the Corner, Inc.</p> 
				  </footer>
		    </div>
		  </div>
    </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    <script src="../assets/js/holder/holder.js"></script>
  </body>
</html>
