<% provide(:title, 'Site Statistics') %>
<% provide(:subtitle, 'Site Statistics') %>

<div class="container jumbotron">
  <% if current_business.admin? %>
    <%= link_to "<< View profile", current_business %>
	  <h1>Site Statistics</h1>
    <br />
    <h4>Total number of businesses: <%= Business.all.size + WebBusiness.all.size %></h4>
	  <h4>Number of businesses unique to site: <%= Business.all.size %></h4>
    <h4>Number of businesses pulled from web APIs: <%= WebBusiness.all.size %></h4>
    <h4>Total number of deals: <%= Deal.find(:all, :conditions => ["isEvent = 'FALSE' or isEvent is null"]).size %></h4>
    <h4>Total number of events: <%= Deal.find(:all, :conditions => ["isEvent = 'TRUE'"]).size %></h4>
  <% end %>
</div>
