<% provide(:title, "Sign In") %>
<% provide(:subtitle, "Sign In") %>

<div class="session-creation container">
  <div class="row">
    <div class="span6">
			<%= form_for(:session, url: sessions_path) do |f| %>
				<%= render 'shared/session_error_messages' %>

				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password %>
				<%= f.password_field :password %>
	
				<br>

				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>

			<% end %>
			<p>New user? <%= link_to "Sign up now!", signup_path %></p>
		</div>
    <div class="span6 center">
      <img src="/assets/logo_iphone.png" alt="logo", width="200" height="200">
      <p class="lead">Connect with your customers and the
        world around you on Around the Corner.</p>
      </div>
    </div>
  </div>
</div>
