<% provide(:title, @web_business.name) %>
<% provide(:subtitle, @web_business.name + "'s Dashboard") %>

<div class="jumbotron row">
  <aside class="span4">
    <% if current_business.admin? && !current_business?(@business) then %>
      <%= link_to "<< View all web businesses", web_businesses_path %>
    <% end %>
    <section>
      <h1>
        <%= @web_business.name %>
      </h1>
	    <!--  <%= link_to "Edit profile", edit_web_business_path(@web_business) %>  -->
	    <%= link_to "Edit profile", "#" %>
    </section>
  </aside>
	<div class="span8">
	  <h3> Your Deals: </h3>
	  <% if @web_business.deals.any? %>
		  <ol>
			  <% @deals.each do |d| %>
				  <% if d.title %>
					  <li>
						  <%= link_to d.title, deal_path(d) %>
              <%= d.title %>. 
              <i>Posted <%= time_ago_in_words(d.created_at) %> ago.</i>
              <%= link_to "Edit", edit_deal_path(d) %>
              <% if current_business.admin? || current_business?(@business) then %>
                <%= link_to "Delete", d, method: :delete,
                                                    data: { confirm: "You sure?" },
                                                    title: d.title %>
              <% end %>
            </li>
				  <% end %>
			  <% end %>
		  </ol>
	  <% end %>
	</div>
</div>
