<% content_for :head do %>
	<%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" %>
	<%= javascript_include_tag "jquery-1.9.1.min" %>
    <%= javascript_include_tag "jquery-ui.min" %>
    <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
    <%= javascript_include_tag "jquery-ui-sliderAccess" %>

  <script type="text/javascript">
		$(function(){
			$('#deal_endDate').datetimepicker( {stepMinute: 10} );
		});
	</script>
	
	<script type="text/javascript">
	  $(function(){
			$('#deal_startDate').datetimepicker( {stepMinute: 10} );
		});
  </script>
  
  <script type="text/javascript">
	  $(function(){
      $("form").submit(function() {
        $(this).submit(function() {
            return false;
        });
        return true;
      });
    });
  </script>
<% end %>


<% if @deal.isEvent then %>
	<% provide(:title, "Edit Event") %>
	<% provide(:subtitle, "Update Your Event") %>
<% else %>
	<% provide(:title, "Edit Deal") %>
	<% provide(:subtitle, "Update Your Deal") %>
<% end %>

<div class="container jumbotron">
	<div class="row">
		<%= form_for @deal, :html => { :multipart => true } do |f| %>
			<%= render 'shared/deal_error_messages' %>
			<div class="span6">
				<% if @deal.isEvent then %>
					<%= f.radio_button :isEvent, 0 %> Deal&nbsp;&nbsp;&nbsp;
					<%= f.radio_button :isEvent, 1, :checked => true %> Event<br><br>
				<% else %>
					<%= f.radio_button :isEvent, 0, :checked => true %> Deal&nbsp;&nbsp;&nbsp;
					<%= f.radio_button :isEvent, 1 %> Event<br><br>
				<% end %>

		    <%= f.label :title, "Title (required)" %>
		    <%= f.text_field :title %>

		    <%= f.label :shortDescription, "Short Description (max 30 words)" %>
		    <%= f.text_area :shortDescription, :rows => "2" %>

		    <%= f.label :longDescription, "Long Description" %>
		    <%= f.text_area :longDescription, :rows => "3" %>

		    <%= f.label :tags, "Tags (separated by comma)" %>
		    <%= f.text_field :tags %>
		  </div>
			<div class="span6">
				<% startDate = @deal.startDate.strftime("%Y-%m-%d") %>
				<% year, month, day = startDate.split('-') %>
				<% formatDate = month + '/' + day + '/' + year %>
				<% startTime = @deal.startDate.strftime("%H:%M") %>
		    <%= f.label :startDate, "Start Date and time (required)" %>
		    <%= f.text_field :startDate, :name => "deal[startDate]", :id => "deal_startDate", :value => formatDate+" "+startTime %>

				<% endDate = @deal.endDate.strftime("%Y-%m-%d") %>
				<% year, month, day = startDate.split('-') %>
				<% formatDate = month + '/' + day + '/' + year %>
				<% endTime = @deal.endDate.strftime("%H:%M") %>
		    <%= f.label :endDate, "End Date and time (required)" %>
		    <%= f.text_field :endDate, :name => "deal[endDate]", :id => "deal_endDate", :value => formatDate+" "+endTime %>
		    
		    <% if false %>
		    <% startDate = @deal.startDate.strftime("%Y-%m-%d") %>
				<% startTime = @deal.startDate.strftime("%H:%M:%S") %>
		    <%= f.label :startDate, "Start Date and time (required)" %>
		    <%= f.text_field :startDate, :type => "datetime-local", :value => startDate+"T"+startTime %>

				<% endDate = @deal.endDate.strftime("%Y-%m-%d") %>
				<% endTime = @deal.endDate.strftime("%H:%M:%S") %>
		    <%= f.label :endDate, "End Date and time (required)" %>
		    <%= f.text_field :endDate, :type => "datetime-local", :value => endDate+"T"+endTime %>
		    <% end %>
		    <br>

				<%= f.label :address %>
				<%= f.text_area :address, :rows => "3" %>
				
		    <%= f.label :image, "Upload Image" %>
		    <%= f.file_field :image %>
		    <% unless @deal.image_file_size.blank? %>
	          <p>
	          	(Current upload -- Check box to delete:<br />
	          	<%= f.check_box :image_delete %> <%= @deal.image_file_name %>)
	          </p>
	        <% end %>
		    
		    <br><br>
		    <%= f.submit "Save changes", class: "btn btn-primary" %>
      <%= submit_tag 'Cancel', :name => 'cancel', class: "btn btn-primary", style: "margin-left: 20px;" %>
		  </div>  
			<!--
		  <div class="span4">

		    <%= f.label :imageURL, "Image URL" %>
		    <%= f.text_field :imageURL %>

			</div>
			-->
		<% end %>
	</div>
</div>

