<% if @deal.isEvent then %>
	<% provide(:title, "Edit Event") %>
	<% provide(:subtitle, "Update Your Event") %>
<% else %>
	<% provide(:title, "Edit Deal") %>
	<% provide(:subtitle, "Update Your Deal") %>
<% end %>

<div class="container jumbotron">
	<div class="row">
		<%= form_for @deal, :html => { :multipart => true } do |f| %>
			<%= render 'shared/deal_error_messages' %>
			<div class="span4">
				<% if @deal.isEvent then %>
					<%= f.radio_button :isEvent, 0 %> Deal&nbsp;&nbsp;&nbsp;
					<%= f.radio_button :isEvent, 1, :checked => true %> Event<br><br>
				<% else %>
					<%= f.radio_button :isEvent, 0, :checked => true %> Deal&nbsp;&nbsp;&nbsp;
					<%= f.radio_button :isEvent, 1 %> Event<br><br>
				<% end %>

		    <%= f.label :title, "Title (required)" %>
		    <%= f.text_field :title %>

		    <%= f.label :shortDescription, "Short Description (max 30 words)" %>
		    <%= f.text_area :shortDescription, :rows => "3" %>

		    <%= f.label :longDescription, "Long Description" %>
		    <%= f.text_area :longDescription, :rows => "4" %>
		  </div>
			<div class="span4">
		    <%= f.label :tags, "Tags (separated by comma)" %>
		    <%= f.text_field :tags %>

				<% startDate = @deal.startDate.strftime("%Y-%m-%d") %>
				<% startTime = @deal.startDate.strftime("%H:%M:%S") %>
		    <%= f.label :startDate, "Start Date and time (required)" %>
		    <%= f.text_field :startDate, :type => "datetime-local", :value => startDate+"T"+startTime %>

				<% endDate = @deal.endDate.strftime("%Y-%m-%d") %>
				<% endTime = @deal.endDate.strftime("%H:%M:%S") %>
		    <%= f.label :endDate, "End Date and time (required)" %>
		    <%= f.text_field :endDate, :type => "datetime-local", :value => endDate+"T"+endTime %>
		    <br><br>
		    <p>Days of week</p>
				<%= f.check_box :sunday %> Sn&nbsp;
				<%= f.check_box :monday %> M&nbsp;
				<%= f.check_box :tuesday %> T&nbsp;
				<%= f.check_box :wednesday %> W&nbsp;
				<%= f.check_box :thursday %> Th&nbsp;
				<%= f.check_box :friday %> F&nbsp;
				<%= f.check_box :saturday %> S<br>
		  </div>  
		  <div class="span4">
				<%= f.label :address %>
				<%= f.text_area :address, :rows => "3" %>

		    <%= f.label :imageURL, "Image URL" %>
		    <%= f.text_field :imageURL %>

		    <%= f.label :image, "Or Upload Image" %>
		    <%= f.file_field :image %>
		    <% unless @deal.image_file_size.nil? %>
          <p>(Current upload: <%= @deal.image_file_name %>)</p>
        <% end %>
		    
		    <br><br>
		    <%= f.submit "Save changes", class: "btn btn-primary" %>
      <%= submit_tag 'Cancel', :name => 'cancel', class: "btn btn-primary", style: "margin-left: 20px;" %>
			</div>
		<% end %>
	</div>
</div>

