<% content_for :head do %>
  <script type="text/javascript">
		$(function(){
			$('#deal_endDate').datetimepicker( {stepMinute: 10} );
		});
	</script>
	
	<script type="text/javascript">
	  $(function(){
			$('#deal_startDate').datetimepicker( {stepMinute: 10} );
		});
  </script>
<% end %>

<% provide(:title, "New Promotion") %> 
<% provide(:subtitle, "Create Your Promotion") %>

<div class="container jumbotron">  		  
	<div class="row">
		<%= form_for @deal, :html => { :multipart => true } do |f| %>
			<%= render 'shared/deal_error_messages' %>
			<div class="span6">
				<%= f.radio_button :isEvent, 0 , :checked => true %> Deal&nbsp;&nbsp;&nbsp;
				<%= f.radio_button :isEvent, 1 %> Event<br><br>

		    <%= f.label :title, "Title (required)" %>
		    <%= f.text_field :title %>

		    <%= f.label :shortDescription, "Short Description (max 30 words)" %>
		    <%= f.text_area :shortDescription, :rows => "2" %>

		    <%= f.label :longDescription, "Long Description" %>
		    <%= f.text_area :longDescription, :rows => "3" %>

		    <%= f.label :tags, "Tags (separated by comma)" %>
		    <%= f.text_field :tags %>
		  </div>
			<div class="span6">
        <%= f.label :startDate, "Start Date and time (required)" %>
		    <%= f.text_field :startDate, :name => "deal[startDate]", :id => "deal_startDate" %>

		    <%= f.label :endDate, "End Date and time (required)" %>
		    <%= f.text_field :endDate, :name => "deal[endDate]", :id => "deal_endDate" %>

        <% if false %>
		    <%= f.label :startDate, "Start Date and time (required)" %>
		    <%= f.text_field :startDate, :type => "datetime-local" %>

		    <%= f.label :endDate, "End Date and time (required)" %>
		    <%= f.text_field :endDate, :type => "datetime-local" %>
		    <% end %>
		    <br>

				<%= f.label :address %>
				<%= f.text_area :address, :rows => "3", :value => current_business.address %>

		    <%= f.label :image, "Or Upload Image" %>
		    <%= f.file_field :image %>
		    
		    <br><br>
		    <%= f.submit "Create Promo", class: "btn btn-primary" %>
		    <%= submit_tag 'Cancel', :name => 'cancel', class: "btn btn-primary", style: "margin-left: 20px;" %>
		  </div>  
			<!--
		  <div class="span4">

		    <%= f.label :imageURL, "Image URL" %>
		    <%= f.text_field :imageURL %>

			</div>
			-->
		<% end %>
	</div>
</div>
