<% provide(:title, @deal.title) %>
<% provide(:subtitle, "Deal: " + @deal.title) %>

<div class="container row">
	<div class="span6">
	  <br />
    <p>
      <% d = Deal.find(params[:id]) %>
      <% unless d.business_id.nil? then %>
        <% b = Business.find(d.business_id) %>
		  	<%= link_to "<< View all deals", business_path(b) %>
		  <% else %>
		    <% b = WebBusiness.find(d.web_business_id) %>
    		<%= link_to "<< View all deals", web_business_path(b) %>
    	<% end %>
  	</p>
		<h1><%= @deal.title %></h1>
		<p><%= link_to "Edit", edit_deal_path(@deal) %></p>
		<p>Start date: <%= @deal.startDate %></p>
		<p>End date: <%= @deal.startDate %></p>
		<p>Image URL: 
		  <% unless @deal.imageURL.empty? %> <p><%= image_tag @deal.imageURL %></p>
		</p> <% end %>
		<p>Image Upload: 
  		<% unless @deal.image_file_name.nil? %> <p><%= image_tag @deal.image.url(:medium) %></p>
	  </p> <% end %>
		<% if @deal.shortDescription %>
			<p>Short description: <%= raw(@deal.shortDescription) %></p>
		<% end %>
		<% if @deal.longDescription %>
			<p>Long description: <%= raw(@deal.longDescription) %></p>
		<% end %>
		<% if @deal.address %>
			<p>Address: <%= @deal.address %>
		<% end %>
	</div>
	<div class="span6">
		<% if @deal.firstTag %>
			<p>Tag: <%= @deal.firstTag %></p>
		<% end %>
		<% if @deal.secondTag %>
			<p>Tag: <%= @deal.secondTag %></p>
		<% end %>
		<% if @deal.thirdTag %>
			<p>Tag: <%= @deal.thirdTag %></p>
		<% end %>
	</div>
</div>
	
