<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

		<%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    
    <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" %>
		<%= javascript_include_tag "jquery-1.9.1.min" %>
    <%= javascript_include_tag "jquery-ui.min" %>
    <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
    <%= javascript_include_tag "jquery-ui-sliderAccess" %>
    
    <%= yield :head %>
  </head>
  <body style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;">
    <%= render 'layouts/header' %>
		<%= render 'layouts/subheader' %>
    <div class="container">
			<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
			<div style="min-height: 403px">
    <%= yield %>
		</div>
    <%= render 'layouts/footer' %>
  </body>
</html>
